@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

html, body { 
	@apply h-full overflow-hidden; 
}

/* Ensure toasts appear above modals */
.snackbar-wrapper {
	z-index: 10000 !important;
}

.snackbar {
	z-index: 10000 !important;
}

.toast {
	z-index: 10000 !important;
}
